.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../icons/sky.jpg);
  /* (CC0 License)  Photo by Pixabay from Pexels: https://www.pexels.com/photo/white-clouds-531767/*/
  background-size: cover;
  overflow: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
}

.footer a {
  color: white;
}