.product-page {
  width: calc(100%);
  min-width: 300px;
  // max-width: 1300px;
  /* min-height: 100vh; */
  /* padding: 0 20px; */
  margin: auto;
  overflow: auto;
  padding-bottom: 20px;

  .filter {
    background-color: aliceblue;
    border-radius: 0 0 10px 10px;
  }

  .filter-inner {
    max-width: 600px;
    margin: auto;
    padding: 10px;

    .filter-separator {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #00000040;
      margin-bottom: 5px;
      padding-bottom: 5px;

      label {
        min-width: 80px;
        color: #121212;
        display: inline-block;
        font-weight: bold;
      }
    }


    #filter__category {
      #category-input {
        width: 170px;
        font-size: 18px;
        margin: 0 3px;
      }
    }

    #filter__price {
      button {
        border: none;
        margin: 3px;
        background-color: #efefef;
        // border: 2px solid blue;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;

        &:hover {
          box-shadow: 0 0 0 1px black;
          background-color: #ceebf5;
          cursor: pointer;
        }
      }
    }

    .active {
      background-color: #ceebf5 !important;
    }
  }

  h1 {
    width: 100%;
    color: #efefef;
    text-align: center;
    font-weight: 500;
    margin: 20px auto 0 auto;
    font-size: 25px;
  }

  .product-list {
    width: 95%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
  }

}