.product-page {
  width: calc(100%);
  min-width: 300px;
  max-width: 1300px;
  /* min-height: 100vh; */
  /* padding: 0 20px; */
  margin: auto;
  overflow: auto;

  .filter {
    background-color: aliceblue;
  }

  .filter-inner {
    max-width: 600px;
    margin: auto;

    padding: 10px;

    label {
      width: 80px;
      color: #121212;
      display: inline-block;
      font-weight: bold;
    }

    #filter__category {
      label {}

      #category-input {
        width: 170px;
        font-size: 18px;
      }
    }

    #filter__price {
      label {}

      button {
        border: none;
        margin: 3px;
        background-color: #efefef;
        // border: 2px solid blue;
        padding: 5px;
        border-radius: 5px;

        &:hover {
          box-shadow: 0 0 0 1px black;
          background-color: #ceebf5;
          cursor: pointer;
        }
      }

    }
  }

  h1 {
    width: 100%;
    color: #efefef;
    text-align: center;
    font-weight: 500;
    margin: 20px auto 0 auto;
    font-size: 25px;
  }

  .product-list {
    width: 95%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
  }

}